html, body {
  height: 100%;
}

body {
  font-family: Arial;
}

div#instructions {
  float: left;
  display: block;
  margin-right: 2em;
}

div#instructions pre {
  white-space: pre-line;
}

/* div#checklist_container {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 10px;
  column-fill: auto
}*/

div#checklist_container {
  display: flex;
  flex-direction: column;
  height: 1500px;
  flex-wrap: wrap;
}

div.checklist {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  break-inside: avoid;
  margin-bottom: 10px;
  min-width: calc(50% - 10px);
  margin: 0 5px 10px 5px;
}

div.checklist > h1 {
  margin: 0;
  margin-bottom: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: #000;
  text-align: center;
  font-weight: normal;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  color: #fff;
}


div.checklist_item {
  display: flex;
  align-items: stretch;
  padding: 0.2em;
}

span.dots {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 3px 1px 3px;
  border-bottom: 2px dotted #000;
}

ul {
  margin: 0px;
  margin-bottom: 0.3em;
  padding: 0px;
  max-width: 100%;
}

li {
  list-style-type: none;
  line-height: 0.9em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

hr {
  border: none;
  border-top: 1px solid #000;
}
