div.checklist-item[data-v-3cae748f] {
    display: flex;
    align-items: center;
    clear:both
}

span.dots[data-v-3cae748f] {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow:hidden
}

span.dots[data-v-3cae748f]:before {
    content: "...........................................................................................................";
    letter-spacing: 2px;
    color:#000
}

div.checklist[data-v-3deab2ba] {
    overflow: hidden;
    margin-bottom: 12px;
    padding-left: 4px;
    padding-right:4px
}

div h2[data-v-3deab2ba] {
    float: left;
    display: block;
    width: 100%;
    margin: 0;
    text-align:left
}

ul[data-v-3deab2ba] {
    margin: 0;
    padding-left: 0;
    width:100%
}

ul li[data-v-3deab2ba] {
    list-style-type: none;
    width:100%
}

div[data-v-280382c4] {
    width: auto;
    overflow: hidden;
    background-color: #f5e7d3;
    position:relative
}

div.checklist-set[data-v-280382c4] {
    border: 1px solid #000;
    float: left;
    width: 198pt;
    height:756pt
}

div.checklist-set h1[data-v-280382c4] {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #ecb100;
    text-align: center;
    color:#fff
}

div.checklist-set h1.emergency[data-v-280382c4] {
    background-color:#ff371a
}

div.checklist-set h1.reference[data-v-280382c4] {
    background-color:#4588ff
}

div.checklist-set .generated[data-v-280382c4] {
    color: #515151;
    font-size: 8pt;
    position: absolute;
    bottom: 2px;
    right:3px
}

div {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

@media screen {
    div#header {
        display: block;
        clear: both;
        float: left;
        height: auto;
        width: 100%;
        margin-bottom:8px
    }

    div .instructions, div#editor, div#right-pane, div#upload {
        float: left;
        display: block;
        width:33%
    }

    div#right-pane .file_container {
        width: 90%;
        height: 50px;
        border: 2px dotted gray;
        text-align:center
    }
}

@media print {
    div .instructions, div#editor, div#header, div#right-pane, div#upload {
        display: none
    }
}

